@font-face {
  font-family: 'Switzer-Black';
  src: url('fonts/Switzer-Black.woff2') format('woff');
}

@font-face {
  font-family: 'SpaceMono-Bold';
  src: url('fonts/SpaceMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono-Regular';
  src: url('fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono-Italic';
  src: url('fonts/SpaceMono-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceMono-BoldItalic';
  src: url('fonts/SpaceMono-BoldItalic.ttf') format('truetype');
}


$light-theme: (
  background-color: #ffffff,
  text-color: #000000,
);

$dark-theme: (
  background-color: #121212,
  text-color: #e0e0e0,
);

$custom-theme: (
  background-color: #f5f5dc,
  text-color: #00008b,
);

@mixin apply-theme($theme) {
  background-color: map-get($theme, background-color);
  color: map-get($theme, text-color);
}

* {
  margin: 0;
  padding: 0;
}

.theme-light {
  @include apply-theme($light-theme);
}

.theme-dark {
  @include apply-theme($dark-theme);
}

.theme-custom {
  @include apply-theme($custom-theme);
}
